<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>munich voter turnout</title>
    <link rel="stylesheet" type="text/css" href="/public/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <link rel="stylesheet" type="text/css" href="/public/css/rSlider.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/svg-map.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>

<body>
    <div class="tooltip"></div>
    <div class="large reveal" id="exampleModal" data-reveal>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="header" id="header-modal">
            <h4 id="title-modal"></h4>
        </div>
        <div class="content-main" id="content-main-modal"></div>
        <div class="footer" id="footer-modal">
            <div class="slider-container">
                <input type="text" id="slider2" class="range-slider" />
            </div>
        </div>
    </div>
    <div id="content">
        <div class="header" id="header-main">
            <p id="district-name-box"></p>
        </div>
        <div class="content-main" id="map-container"></div>
        <div class="footer" id="footer-main">
            <div class="slider-container clearfix">
                <input type="text" id="slider" class="range-slider" />
            </div>
            <img id="play-button" src="/public/images/play-button.svg">
        </div>
    </div>
    <script type="text/javascript" src="/public/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/public/js/vendor/what-input.js"></script>
    <script type="text/javascript" src="/public/js/vendor/foundation.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    <script type="text/javascript" src="/public/js/vendor/d3.v3.min.js"></script>
    <script type="text/javascript" src="/public/js/vendor/d3-geo.min.js"></script>
    <script type="text/javascript" src="/public/js/vendor/rSlider.min.js"></script>
    <script type="text/javascript" src="/public/js/utils.js"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>
    <script type="text/javascript" src="http://localhost:35729/livereload.js?LR-verbose&snipver=1&LiveTest=1"></script>
</body>

</html>