/* This is the main stylesheet for the global alignment und colors*/

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
}

div#content {
    margin: 1%;
    display: flex;
    flex-flow: column;
    flex: 0 1 100%;
}

div.header {
    /*background-color: #eed896;*/
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 0 1 15%;
}

#header-modal{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row;
    flex: 0 1 15%;
}

#header-info{
    display: flex;
    flex-flow: column;
    flex: 0 0 10%;
    text-align: center;
    font-size: 2em;
}

.modal-header-info{
    display: flex;
    flex-flow: column;
    flex: 0 0 40%;
    text-align: center;
    font-size: 2em;
}

p#district-name-box {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
}

div.content-main {
    /*background-color: #97e1b3;*/
    /*padding: 1%;*/
    display: flex;
    flex: 0 1 75%;
    align-items: center;
    justify-content: center;
}

div.footer {
    /*background-color: #8ec0d8;*/
    align-content: center;
    justify-content: center;
    display: flex;
    flex: 1 1 15%;
    flex-flow: column;
}

.slider-container {
    padding-top: 2%;
    display: flex;
    align-content: center;
    justify-content: center;
}

div.tooltip {
    display: none;
    color: #000;

    position: absolute;
    text-align: center;
    width: 8%;
    height: 40px;
    padding: 2px;
    font: 25px sans-serif;
    background: #efefef;
    border: 5px solid #c4c4c4;
    border-radius: 8px;
    pointer-events: none;
}

.modalChart {
    margin: 0 auto;
    display: block;
}

.bar--positive {
    fill: steelblue;
}

.bar--negative {
    fill: darkorange;
}

.axis text {
    font: 17px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.play-button {
    margin: 0 auto;
    display: block;
    width: 3%;
    cursor: pointer;
}

#play-button-main {
    padding-top: 1%;
}