/* This is the main stylesheet for the global alignment und colors*/

html {
    height: 100%;
}

body {
    background-color: #d7e5ea;
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
}

div#content {
    margin: 1%;
    display: flex;
    flex-flow: column;
    flex: 0 1 100%;
}

div#header {
    /*background-color: #eed896;*/
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 0 1 10%;

}

div#map-container {
    /*background-color: #97e1b3;*/
    padding: 1%;
    display: flex;
    flex: 0 1 80%;
    align-items: center;
    justify-content: center;
}

div#footer {
    /*background-color: #8ec0d8;*/
    align-content: center;
    justify-content: center;
    display: flex;
    flex: 0 1 10%;
}

.slider-container {
    padding-top: 2%;
}

div.tooltip {
    display: none;
    background-color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.modalChart{
    margin: 0 auto;
    display: block;
}

.bar--positive {
    fill: steelblue;
}

.bar--negative {
    fill: darkorange;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}